.daily-item {
  position: relative;
}

.daily-item .delete {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  top: -18px;
  right: -18px;
}

.daily-item:hover .delete {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
